section {

    div.section-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: inherit;

        div.left-container{
            div.card{
                height: 100%;
            }

        }
    }
}