section {

    div.section-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100%;
        min-height: 90%;

        div.left-container{
            div.card{
            }

        }
        div.right-container{
        }
    }
}