<section class="performance-areas">
    <div class="navigation-button">
        <button mat-raised-button (click)=navigateToPrevious()> &lt; Back to Overview</button>
    </div>
    <div class="section-heading">
        {{region$.name}} - Performance Area / Building Blocks
    </div>
    <div class="section-content">
        <ng-container *ngFor="let area of pfAreas$; let areaIndex = index">
            <div class="card">
                <div class="card-heading">
                    {{area.name}}
                </div>
                <div class="card-content">
                    <ul>
                        <li *ngFor="let item of area.businessCapabilities;let businessIndex = index" (click)="clickedBussinessCapability(areaIndex,businessIndex)">
                            {{item.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </ng-container>
    </div>
</section>