section.capabilities {

    div.section-heading{
        font-size: 2em;
        padding: 20px;
    }

    div.section-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        div.card{
            margin: 10px 20px;
        }
    }
}